@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@700;800&family=Poppins:wght@600;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.app.dark {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.text {
  color: #0e0101;
}

.text.dark {
  color: #f6e2fd;
}

.background {
  background-color: #fcd9d9;
}

.background.dark {
  background-color: #17071d;
}

.primary {
  background-color: #35b1b1;
}

.primary.dark {
  background-color: #b10eec;
}

.secondary {
  background-color: #fcb3b3;
}

.secondary.dark {
  background-color: #280a33;
}

.accent {
  color: #35b1b1;
}

.accent.dark {
  color: #db8cf8;
}

.accent2 {
  background-color: #a9fdfde9;
}

.accent2.dark {
  background-color: #e29cfc;
}

.layer {
  color: #db8cf8;
}

.layer.dark {
  color: #36a9a9;
}

.color-effect {
  background: linear-gradient(120deg, #46ecec, #14bdbd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-color-effect {
  background: linear-gradient(120deg, #46ecec, #14bdbd);
}

.color-effect.dark {
  background: linear-gradient(120deg, #b10eec, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-color-effect.dark {
  background: linear-gradient(120deg, #17071d, #b10eec);
}

.selected {
  color: #14bdbd;
}

.selected.dark {
  color: #db8cf8;
}

/* .nav-text {
  color: #0e0101;
} */

.nav-text:hover {
  color: #14bdbd;
}

.nav-text.dark:hover {
  color: #db8cf8;
}

.content {
  display: flex;
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 3rem;
  }
}

.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (max-width: 900px) {
    flex-direction: column-reverse;
    text-align: center;
    height: auto;
    gap: 3rem;
  }
}

.header-text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;

  @media (max-width: 900px) {
    max-width: 100%;
    align-items: center;
    margin-top: 1rem;
  }
}

.border-swap {
  border-right: 2px solid #0e0101;
  margin-right: 1rem;
  min-width: 8rem;

  @media (max-width: 900px) {
    border-right: none;
    border-bottom: 2px solid #0e0101;
    margin-right: 0;
    min-width: 5rem;
  }
}

.border-swap.dark {
  border-right: 2px solid #f6e2fd;
  margin-right: 1rem;
  min-width: 8rem;

  @media (max-width: 900px) {
    border-right: none;
    border-bottom: 2px solid #f6e2fd;
    margin-right: 0;
    min-width: 5rem;
  }
}

.socials {
  display: flex;
  align-items: center;
}

.skills {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  align-items: center;
  text-align: center;
  max-width: fit-content;

  @media (max-width: 900px) {
    flex-direction: column;
    position: initial;
  }
}

.icons {
  display: flex;
  position: relative;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  align-items: center;
  text-align: center;
  width: 100%;

  @media (max-width: 900px) {
    flex-wrap: wrap;
    justify-content: center;
    position: initial;
    width: 66%;
  }
}

.image {
  margin-top: -2rem;
  @media (max-width: 900px) {
    margin-top: 5rem;
  }
}

.timeline {
  position: relative;
}

/* .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #a9fdfde9;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
}

.timeline.dark::after {
  background: #e29cfc;
} */

.timeline-text {
  padding: 20px 35px;
  background: #fcd9d9;
  position: relative;
  border-radius: 6px;
  width: 100%;
}

.timeline-text.dark {
  background: #17071d;
}

.timeline-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
  z-index: 1;
}

@keyframes movedown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.timeline-container.left {
  left: 0;
}

.timeline-container.left img {
  position: absolute;
  width: 50px;
  padding: 3px;
  border-radius: 50%;
  right: -25px;
  top: 32px;
  z-index: 10;
  background: #fcd9d9;
}

.timeline-container.left.dark img {
  background: #e29cfc;
}

.timeline-container.left.short img {
  padding-top: 18px;
  padding-bottom: 18px;
}

.timeline-container.right img {
  position: absolute;
  width: 50px;
  padding: 3px;
  border-radius: 50%;
  left: -25px;
  top: 32px;
  z-index: 10;
  background: #fcd9d9;
}

.timeline-container.right.dark img {
  background: #e29cfc;
}

.timeline-container.right.short img {
  padding-top: 18px;
  padding-bottom: 18px;
}

.timeline-container.right {
  left: 50%;
}

.left-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 40px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fcd9d9;
  right: 36px;
}

.left-arrow.dark {
  border-left: 15px solid #17071d;
}

.right-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 40px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fcd9d9;
  left: 36px;
}

.right-arrow.dark {
  border-right: 15px solid #17071d;
}

.animation-container {
  position: absolute;
  overflow: hidden;
  height: 70%;
  width: 10px;
  top: 0;
  z-index: 0;
  left: 50%;
}

@media screen and (max-width: 900px) {
  .timeline-container {
    width: 100%;
  }

  .timeline-container.right {
    left: 0;
  }

  .timeline-container.left img {
    right: auto;
    left: -25px;
  }

  .timeline-container.right img {
    left: -25px;
  }

  .left-arrow,
  .right-arrow {
    border-right: 15px solid #fcd9d9;
    left: 35px;
    border-left: none;
  }
  .left-arrow.dark,
  .right-arrow.dark {
    border-right: 15px solid #17071d;
    left: 35px;
  }

  .animation-container {
    left: 0;
    height: 80%;
  }
}

@media screen and (max-width: 2000px) {
  .animation-container {
    height: 92%;
  }
}

@media screen and (max-width: 1150px) {
  .animation-container {
    height: 94%;
  }
}

@media screen and (max-width: 990px) {
  .animation-container {
    height: 95%;
  }
}

@media screen and (max-width: 900px) {
  .animation-container {
    height: 91%;
  }
}

@media screen and (max-width: 730px) {
  .animation-container {
    left: 0;
    height: 93%;
  }
}

@media screen and (max-width: 510px) {
  .animation-container {
    left: 0;
    height: 95%;
  }
}

.TitleAnimation_container__t12Kz.TitleAnimation_isSmall__2MjhU {
  font-family: var(--font-heading);
  font-size: clamp(5.4rem,5.95vw,10rem);
  font-weight: 800;
  line-height: .85;
  letter-spacing: -.01em;
  text-transform: uppercase
}

.TitleAnimation_title__A0N3i {
  visibility: hidden;
  opacity: 0
}

.TitleAnimation_title__A0N3i>div {
  overflow: hidden
}

.TitleAnimation_title__A0N3i:first-child {
  color: var(--color-arcadiaGreen)
}

.TitleAnimation_title__A0N3i:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
}

.TitleAnimation_sr_only__GCqSS {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0,0,0,0);
  white-space: nowrap;
  border-width: 0
}

.about-img {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  border: 3px solid #2d2e32;
  /* animation: morph 8s ease-in-out infinite;
  border-radius: 60% 40% 30% 70%/60% 30% 70% 40%; */
  border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
  position: relative;
  transition: all 0s ease-in-out;
  margin-left: auto;
  margin-right: auto;
  margin-top: -60px;
  margin-bottom: 35px;
}

.about-img.band {
  background-image: url("/src/assets/band.png");
  width: 20rem;
  height: 25rem;

}
.about-img.grayson {
  background-image: url("/src/assets/grayson.png");
  width: 20rem;
  height: 25rem;
}
.about-img.nepal {
  background-image: url("/src/assets/nepal.png");
  width: 16rem;
  height: 25rem;
}

@media (max-width: 500px) {
  .about-img {
    width: 28rem;
    height: 28rem;
  }
}
@keyframes morph {
  0% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
  50% {
    border-radius: 30% 60% 70% 40%/50% 60% 30% 60%;
  }
  100% {
    border-radius: 60% 40% 30% 70%/60% 30% 70% 40%;
  }
}

body {
  background: #BBDEFB;
  animation: sky 20s infinite linear;
}

.blobs {
  filter: url('#goo');
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}

.one {
  left: 50%;
  animation: moon 20s infinite linear;
}

.four {
  left: calc(50% - 50px);
  transform: scale(0.5);
  animation: loader 20s infinite ease;
  filter: blur(25px);
  opacity: 1 !important;
  background: rgba(255,255,255,1) !important;
}

@-webkit-keyframes loader {
  0% {transform: translate(500px, 0px) scale(0.9);}
  25% {transform: translate(45px, 0px) scale(0.9);}
  50% {transform: translate(-375px, 0px) scale(0.9);}
  75% {transform: translate(45px, 0px) scale(0.9);}
  100% {transform: translate(500px, 0px) scale(0.9);}
}

@-webkit-keyframes moon {
  0% {background-position: 100% 50%;}
  17% {background-position: 50% 50%;}
  25% {background-position: 50% 50%;}
  50% {background-position: 0% 50%;}
  67% {background-position: 50% 50%;}
  75% {background-position: 50% 50%;}
  100% {background-position: 100% 50%;}
}

@-webkit-keyframes sky {
  0% {background: #BBDEFB;}
  17.5% {background: #07202C;}
  25% {background: #07202C;}
  50% {background: #BBDEFB;}
  67.5% {background: #07202C;}
  75% {background: #07202C;}
  100% {background: #BBDEFB;}
}

.blob {
  position: fixed;
  background: linear-gradient(90deg, #fff, #ECEFF1, #CFD8DC, #263238, #263238, #CFD8DC, #ECEFF1, #fff);
  background-size: 1000% 1000%;
  top: 50%;
  width: 100px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  color: white;
  font-size: 40px;
  border-radius: 100%;
  margin-top: -50px;
  margin-left: -50px;
}

.norm {
  filter: blur(1px);
}