@import url("https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,700&family=Montserrat:wght@700;800&family=Poppins:wght@600;800&display=swap");
@import url("https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.app.dark {
  height: 100%;
  width: 100%;
  font-family: "Poppins", sans-serif;
}

.text {
  color: #0e0101;
}

.background {
  background-color: #fad1d1;
}

.primary {
  background-color: #46ecec;
}

.secondary {
  background-color: #ff9e9e;
}

.accent {
  color: #14bdbd;
}

.accent2 {
  background-color: #a9fdfde9;
}

.accent2.dark {
  background-color: #e29cfc;
}

.text.dark {
  color: #f6e2fd;
}

.background.dark {
  background-color: #17071d;
}

.primary.dark {
  background-color: #b10eec;
}

.secondary.dark {
  background-color: #280a33;
}

.accent.dark {
  color: #db8cf8;
}

.color-effect {
  background: linear-gradient(120deg, #46ecec, #14bdbd);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-color-effect {
  background: linear-gradient(120deg, #46ecec, #14bdbd);
}

.color-effect.dark {
  background: linear-gradient(120deg, #b10eec, white);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.bg-color-effect.dark {
  background: linear-gradient(120deg, #17071d, #b10eec);
}

.selected {
  color: #14bdbd;
}

.selected.dark {
  color: #db8cf8;
}

/* .nav-text {
  color: #0e0101;
} */

.nav-text:hover {
  color: #14bdbd;
}

.nav-text.dark:hover {
  color: #db8cf8;
}

.content {
  display: flex;
  @media (max-width: 900px) {
    flex-direction: column;
    align-items: center;
    height: auto;
    gap: 3rem;
  }
}

.header-main {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;

  @media (max-width: 900px) {
    flex-direction: column-reverse;
    text-align: center;
    height: auto;
    gap: 3rem;
  }
}

.header-text {
  display: flex;
  flex-direction: column;
  max-width: 50rem;
  position: relative;

  @media (max-width: 900px) {
    max-width: 100%;
    align-items: center;
    margin-top: 1rem;
  }
}

.border-swap {
  border-right: 2px solid #0e0101;
  margin-right: 1rem;
  min-width: 8rem;

  @media (max-width: 900px) {
    border-right: none;
    border-bottom: 2px solid #0e0101;
    margin-right: 0;
    min-width: 5rem;
  }
}

.border-swap.dark {
  border-right: 2px solid #f6e2fd;
  margin-right: 1rem;
  min-width: 8rem;

  @media (max-width: 900px) {
    border-right: none;
    border-bottom: 2px solid #f6e2fd;
    margin-right: 0;
    min-width: 5rem;
  }
}

.socials {
  display: flex;
  align-items: center;
}

.skills {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  align-items: center;
  text-align: center;
  max-width: fit-content;

  @media (max-width: 900px) {
    flex-direction: column;
    position: initial;
  }
}

.icons {
  display: flex;
  position: relative;
  justify-content: space-between;
  bottom: 0;
  left: 0;
  align-items: center;
  text-align: center;
  width: 100%;

  @media (max-width: 900px) {
    flex-wrap: wrap;
    justify-content: center;
    position: initial;
    width: 66%;
  }
}

.image {
  margin-top: -2rem;
  @media (max-width: 900px) {
    margin-top: 5rem;
  }
}

.timeline {
  position: relative;
}

/* .timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  height: 100%;
  background: #a9fdfde9;
  top: 0;
  left: 50%;
  margin-left: -3px;
  z-index: 0;
}

.timeline.dark::after {
  background: #e29cfc;
} */

.timeline-text {
  padding: 20px 35px;
  background: #fad1d1;
  position: relative;
  border-radius: 6px;
  width: 100%;
}

.timeline-text.dark {
  background: #17071d;
}

.timeline-container {
  padding: 10px 50px;
  position: relative;
  width: 50%;
  animation: movedown 1s linear forwards;
  opacity: 0;
  z-index: 1;
}

@keyframes movedown {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.timeline-container.left {
  left: 0;
}

.timeline-container.left img {
  position: absolute;
  width: 50px;
  padding: 3px;
  border-radius: 50%;
  right: -25px;
  top: 32px;
  z-index: 10;
  background: #a9fdfde9;
}

.timeline-container.left.dark img {
  background: #e29cfc;
}

.timeline-container.right img {
  position: absolute;
  width: 50px;
  padding: 3px;
  border-radius: 50%;
  left: -25px;
  top: 32px;
  z-index: 10;
  background: #a9fdfde9;
}

.timeline-container.right.dark img {
  background: #e29cfc;
}

.timeline-container.right {
  left: 50%;
}

.left-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 40px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 15px solid #fad1d1;
  right: 35px;
}

.left-arrow.dark {
  border-left: 15px solid #17071d;
}

.right-arrow {
  height: 0;
  width: 0;
  position: absolute;
  top: 40px;
  z-index: 1;
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-right: 15px solid #fad1d1;
  left: 35px;
}

.right-arrow.dark {
  border-right: 15px solid #17071d;
}

.animation-container {
  position: absolute;
  overflow: hidden;
  height: 90%;
  width: 10px;
  top: 0;
  z-index: 0;
  left: 50%;
}

@media screen and (max-width: 900px) {
  .timeline-container {
    width: 100%;
  }

  .timeline-container.right {
    left: 0;
  }

  .timeline-container.left img {
    right: auto;
    left: -25px;
  }

  .timeline-container.right img {
    left: -25px;
  }

  .left-arrow,
  .right-arrow {
    border-right: 15px solid #fad1d1;
    left: 35px;
    border-left: none;
  }
  .left-arrow.dark,
  .right-arrow.dark {
    border-right: 15px solid #17071d;
    left: 35px;
  }

  .animation-container {
    left: 0;
  }
}
